{% extends "base.html" %}

{% block extrahead %}
{% load static %}
{% comment %} <link rel='stylesheet' href="{% static 'style.css' %}"> {% endcomment %}
<link rel='icon' href="{% static 'icon_img.png' %}">

<link rel='stylesheet' href="{% static 'style/autocomplete.css' %}">
<link rel='stylesheet' href="{% static 'style/base.css' %}">
<link rel='stylesheet' href="{% static 'base_style.css' %}">
<link rel='stylesheet' href="{% static 'style/changelists.css' %}">
<link rel='stylesheet' href="{% static 'style/dark_mode.css' %}">
<link rel='stylesheet' href="{% static 'style/dashboard.css' %}">
<link rel='stylesheet' href="{% static 'style/forms.css' %}">
<link rel='stylesheet' href="{% static 'style/login.css' %}">
<link rel='stylesheet' href="{% static 'style/nav_sidebar.css' %}">
<link rel='stylesheet' href="{% static 'style/responsive.css' %}">
<link rel='stylesheet' href="{% static 'style/rtl.css' %}">
<link rel='stylesheet' href="{% static 'style/responsive_rtl.css' %}">
<link rel='stylesheet' href="{% static 'style/unusable_password_field.css' %}">
<link rel='stylesheet' href="{% static 'style/widgets.css' %}">
{% endblock extrahead %}

{% block content %}
{% for organism in organisms %}
    <h2>{{organism.scientific_name}}</h2>
    <p>Common Name: {{organism.common_name}}</p>
    <table class="table table-sm table-striped {{classes}}" id="{{ id|default:'organismTable' }}" style="width:100%; overflow-x:auto;">
        <thead>
            <tr class="table-header">
                <th>division</th>
                <th>species</th>
                <th>genus</th>
                <th>rank</th>
            </tr>
        </thead>
        <tbody>
            <tr class="data">
                {% comment %} class="text-center" {% endcomment %}
                <td>{{organism.division}}</td>
                <td>{{organism.species}}</td>
                <td>{{organism.genus}}</td>
                <td>{{organism.rank}}</td>
            </tr>
        </tbody>
    </table>
{% endfor %}
{% endblock content %}


{% block javascript %}
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>




<script type="text/javascript">
   $(function(){


       $('.displaybuttons input').change(function(){
           var display_type = $(this).val()
           $("#" +  display_type + "display").show()
           $("#" +  display_type + "display").siblings('div').hide()
       })
   });


</script>


{% endblock javascript %}
